$color-black: #4D4D4D;
$color-white: #fff;
$color-text: $color-black;
$color-sub-text: #7B7B7B;
$color-base: #fff;
$color-main: #F485A1;
$color-sub: #f4f5f5;
$color-accent: #64B230;
$color-bg-pink: #FFF7F9;

//
// $color-sub-text: #525b60;
// $color-main-light: #e0edf6;
// $color-bg-light: #e6f1f8;
// $color-bg-dark: #02426e;